<section class="ascii color-primary">
                <pre>
                _____
                ( люблю web )
                -----
                        \   ^__^
                         \  (oo)\_______
                            (__)\       )\/\
                                ||----w |
                                ||     ||
                </pre>
</section>