<title>Моя визитная карточка</title>
{{>styles}}
<meta charset="utf-8">
<meta name="keywords" content="визитная, карточка">
<meta name="description" content="Сайт-визитная карточка о студенте ИТМО">
{{>scripts}}