<nav class="header__nav"">
    <ul class="header__list">
        <li class="nav__elem" id="index"><a href="index.html">Главная</a></li>
        <li class="nav__elem" id="gallery"><a href="gallery.html">Галерея</a></li>
        <li class="nav__elem" id="projects"><a href="projects.html">Проекты</a></li>
        <li class="nav__elem" id="notes"><a href="notes.html">Заметки</a></li>
    </ul>
</nav>