{{#if isLoggedIn}}
<h2>Привет, {{ username }}</h2>
{{else}}
<div class="vertical">
            <input class="login-field" value=""></input>
            <input class="login-field" value=""></input>
            <button class="login-button">Sign In</button>
</div>
{{/if}}