{{#if isLoggedIn}}
<h2>Привет, {{ username }}</h2>
{{else}}
<div class="vertical">
            <input class="login-field" value="">
            <input class="login-field" value="">
            <button class="login-button">Войти</button>
</div>
{{/if}}