<body onload="loadPic()" class="bg-primary">
        {{>header}}
        <main class="color-primary">
            <section class="vertical">
                <h1 class="heading">Рандом фото</h1>
                    <div class="image">
                        <img id="preloader" src="photos/cat-what.gif"/>
                    </div>
            </section>
            <section class="vertical">
                <h1 class="heading">Разные фотки</h1>
                <div class="image">
                    <img src="photos/1.jpg"/>
                </div>
                <div class="image">
                    <img src="photos/2.jpg"/>
                </div>
                <div class="image">
                    <img src="photos/3.jpg"/>
                </div>
                <div class="image">
                    <img src="photos/4.jpg"/>
                </div>
                <div class="image">
                    <img src="photos/5.jpg"/>
                </div>
                    
            </section>
            {{>cowpic}}
        </main>
        {{>footer}}
</body>