<body onload="LoadComments()" class="bg-primary">
        {{>header}}
        <main class="color-primary">
          {{>session}}
            <secition>
                <h2 class="heading">Здесь вы можете оставить комментарий</h2>
                <div class="main bg-additional">
                    <form action="/comments" method="post">
                        <div class="vertical">
                            <input name="sumbitted" type="text" id="text_id" class="textfield bg-primary">
                            <input type="submit" class="button bg-secondary color-secondary" value="Добавить комментарий">
                        </div>
                    </form>
                </div>
            </secition>
            <section>
                <h2 class="heading">Комментарии:</h2>
                {{#each comments}}
                  <div class="main bg-additional">
                    <h2>{{this.authorName}}</h2>
                    <p>{{this.content}}</p>
                  </div>
                {{/each}}
            </section>
            {{>cowpic}}
        </main>
        {{>footer}}
</body>