<body class="bg-primary">
        {{>header}}
        <main class="color-primary">
            <artilce>
                <h2 class="heading">GitHub</h2>
                <div class="main bg-additional">
                    <p>Проектов у меня пока что мало, но вот мой <a href="https://github.com/Nikovr" class="color-secondary bg-secondary">Гитхаб</a></p>
                    <p></p>
                </div>
            </artilce>
            <artilce>
                <h2 class="heading">Шифр Виженера</h2>
                <div class="main bg-additional">
                    <p>Это, пожалуй, моя самая серьезная работа - WPF приложение</p>
                    <p>Вот он - <a href="https://github.com/Nikovr/NYSS-Coursework" class="color-secondary bg-secondary">Шифр Виженера</a></p>
                    <p>Позволяет зашифровывать и расшифровывать сообщения, а также сохранять результат в txt и doc</p>
                </div>
            </artilce>
            <artilce>
                <h2 class="heading">Шифр Виженера</h2>
                <div class="main bg-additional">
                    <p>Это, пожалуй, моя самая серьезная работа - WPF приложение</p>
                    <p>Вот он - <a href="https://github.com/Nikovr" class="color-secondary bg-secondary">Шифр Виженера</a></p>
                    <p>Позволяет зашифровывать и расшифровывать сообщения, а также сохранять результат в txt и doc</p>
                </div>
            </artilce>
            <artilce>
                <h2 class="heading">Шифр Виженера</h2>
                <div class="main bg-additional">
                    <p>Это, пожалуй, моя самая серьезная работа - WPF приложение</p>
                    <p>Вот он - <a href="https://github.com/Nikovr" class="color-secondary bg-secondary">Шифр Виженера</a></p>
                    <p>Позволяет зашифровывать и расшифровывать сообщения, а также сохранять результат в txt и doc</p>
                </div>
            </artilce>
            <artilce>
                <h2 class="heading">Шифр Виженера</h2>
                <div class="main bg-additional">
                    <p>Это, пожалуй, моя самая серьезная работа - WPF приложение</p>
                    <p>Вот он - <a href="https://github.com/Nikovr/NYSS-Coursework" class="color-secondary bg-secondary">Шифр Виженера</a></p>
                    <p>Позволяет зашифровывать и расшифровывать сообщения, а также сохранять результат в txt и doc</p>
                </div>
            </artilce>
            <artilce>
                <h2 class="heading">Шифр Виженера</h2>
                <div class="main bg-additional">
                    <p>Это, пожалуй, моя самая серьезная работа - WPF приложение</p>
                    <p>Вот он - <a href="https://github.com/Nikovr" class="color-secondary bg-secondary">Шифр Виженера</a></p>
                    <p>Позволяет зашифровывать и расшифровывать сообщения, а также сохранять результат в txt и doc</p>
                </div>
            </artilce>
            {{>cowpic}}
        </main>
        {{>footer}}
</body>